/*-----------------------Media querry-----------------------*/
@media screen and (max-width: 992px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar-toggler {
    text-align: center;
}
.nav-link{
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}
.nav-link:hover{
    color: #00BFBA;
}

#navbarSupportedContent {
    text-align: center;
}
.profile {
    width: 30%;
}
.container {
    background-color: #b7e0f5;

}
.title {
    color : #0b5b84;
    font-size: 40px;

}
ul,li {
    color : #0b5b84;
}
.colorTitle{
    color : #0b5b84;
}
body{
    font-size: 17px;
}
ul,li{
    margin-left: 2px;
}
#home {
    font-size: 35px;
    color : #0b5b84;
}
#home2 {
    font-size: 30px;
    color : #0b5b84;
}
.name {
    text-align: center;
    font-size: 25px;
}
.coordonnees {
    text-align: center;
    font-size: 17px;
}

.rating a {
   color: #aaa;
   text-decoration: none;
   font-size: 2em;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus {
   color: red;
   cursor: pointer;
}

#contact {
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}
#contact:hover {
  font-size: 36px;
}
.linux {
    color: #ff7f50;
    font-size: 15px;
    text-align: center;
}
.html{
    margin-left: -11px;
}
.agile{
    margin-left: -11px;
}
.trello{
    margin-left: 11px;
}
.atom{
    margin-left: 0px;
}
.projet11:hover{
    transform: scale(1.3);
    transition: 0.1s;
}
.projet12:hover{
    transform: scale(1.3);
    transition: 0.1s;
}
.projet21:hover{
    transform: scale(1.3);
    transition: 0.1s;
}
.projet22:hover{
    transform: scale(1.3);
    transition: 0.1s;
}
.projet32:hover{
    transform: scale(1.3);
    transition: 0.1s;
}
.projet33:hover{
    transform: scale(1.3);
    transition: 0.1s;
}
.projet34:hover{
    transform: scale(1.3);
    transition: 0.1s;
}
.projet41:hover{
    transform: scale(1.3);
    transition: 0.1s;
}
.projet42:hover{
    transform: scale(1.3);
    transition: 0.1s;
}
.projet51:hover{
    transform: scale(1.3);
    transition: 0.1s;
}
.projet52:hover{
    transform: scale(1.3);
    transition: 0.1s;
}
.projet53:hover{
    transform: scale(1.3);
    transition: 0.1s;
}
#carouselExampleSlidesOnly { /* pour le responsive*/
    width: 80%;
    max-width: 1000px;
}
.langages {
    font-size: 25px;

}
#formations {
    background-color: #6e9edb;
}
span {
    font-size: 8px;
}
.bulle {
    width: 100px;
    height: 30px;
    display: block;
    background-image: url("assets/img/term_logo.png");
}
footer {
    background-color: #FFFFFF;
    font-size: 16px;
}
.copyright {
    color: black;
    text-align: center;
}
#contact{
    background-color: #FFFFFF;
    margin-left: 0px;
}
