/*-----------------------Media querry-----------------------*/
@media screen and (max-width: 992px) {
    .profile {
        width: 30%;
        margin-top: 30px;
    }
    .imgProject {
        display: block;
        margin: 15px;
    }
    .imgCard {
        display: none;
        margin: 15px;
    }
}
/*-----------------------Bar de navigation-----------------------*/
.navbar-toggler {
    text-align: center;
}
.nav-link {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}
.nav-link:hover {
    color: #00BFBA;
}
#navbarSupportedContent {
    text-align: center;
}
/*-----------------------images-----------------------*/
.projet11:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
.projet12:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
.projet21:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
.projet22:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
.projet32:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
.projet33:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
.projet34:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
.projet41:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
.projet42:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
.projet51:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
.projet52:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
.projet53:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
/*-----------------------body-----------------------*/
body {
    font-size: 17px;
}
.container {
    background-color: #b7e0f5;
}
.title {
    color : #0b5b84;
    font-size: 40px;
}
.colorTitle {
    color : #0b5b84;
}
.name {
    text-align: center;
    font-size: 25px;
}
ul,li {
    color : #0b5b84;
    margin-left: 2px;
}
.home {
    font-size: 35px;
    color : #0b5b84;
}
.coordonnees {
    text-align: center;
    font-size: 17px;
}
.rating a {
    display: none;
   color: #aaa;
   text-decoration: none;
   font-size: 2em;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus {
   color: red;
   cursor: pointer;
}
#contact {
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}
#contact:hover {
  font-size: 36px;
}
.linux {
    color: #ff7f50;
    font-size: 15px;
    text-align: center;
}
.langages {
    font-size: 25px;
}
#formations {
    background-color: #6e9edb;
}
span {
    font-size: 8px;
}
.bulle {
    width: 100px;
    height: 30px;
    display: block;
    background-image: url("assets/img/term_logo.png");
}
footer {
    background-color: #FFFFFF;
    font-size: 16px;
}
.copyright {
    color: black;
    text-align: center;
}
#contact {
    background-color: #FFFFFF;
}
